.vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
*.jpg
.output 03-36-55-641
a.out
.output

# directory too big to upload
openpose 

# executable files not currently required to be uploaded
# generated in windows on compiling C++ code
*.exe
